# CSV to DataFrame

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
df1994 = pd.read_csv('./data/seoul 1994-01-01 to 1996-01-01.csv')
df1996 = pd.read_csv('./data/seoul 1996-01-01 to 1998-01-01.csv')[1:]
df1998 = pd.read_csv('./data/seoul 1998-01-01 to 2000-01-01.csv')[1:]
df2000 = pd.read_csv('./data/seoul 2000-01-01 to 2002-01-01.csv')[1:]
df2002 = pd.read_csv('./data/seoul 2002-01-01 to 2004-01-01.csv')[1:]
df2004 = pd.read_csv('./data/seoul 2004-01-01 to 2006-01-01.csv')[1:]
df2006 = pd.read_csv('./data/seoul 2006-01-01 to 2008-01-01.csv')[1:]
df2008 = pd.read_csv('./data/seoul 2008-01-01 to 2010-01-01.csv')[1:]
df2010 = pd.read_csv('./data/seoul 2010-01-01 to 2012-01-01.csv')[1:]
df2012 = pd.read_csv('./data/seoul 2012-01-01 to 2014-01-01.csv')[1:]
df2014 = pd.read_csv('./data/seoul 2014-01-01 to 2016-01-01.csv')[1:]
df2016 = pd.read_csv('./data/seoul 2016-01-01 to 2018-01-01.csv')[1:]
df2018 = pd.read_csv('./data/seoul 2018-01-01 to 2020-01-01.csv')[1:]
df2020 = pd.read_csv('./data/seoul 2020-01-01 to 2022-01-01.csv')[1:]
df2022 = pd.read_csv('./data/seoul 2022-01-01 to 2024-01-01.csv')[1:]
df = pd.concat([df1994, df1996, df1998, df2000, df2002, df2004, df2006, df2008, df2010, df2012, df2014, df2016, df2018, df2020, df2022])

df.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,seoul,1994-01-01,35.2,16.4,26.3,33.4,13.0,24.3,15.5,65.9,...,NaN,NaN,NaN,1994-01-01T07:46:54,1994-01-01T17:23:56,0.61,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47112099999,47120099999,4711009999..."
1,seoul,1994-01-02,43.0,31.5,36.2,39.4,26.7,32.6,27.9,72.1,...,NaN,NaN,NaN,1994-01-02T07:47:03,1994-01-02T17:24:44,0.65,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47112099999,47120099999,4711009999..."
2,seoul,1994-01-03,47.9,30.9,38.0,44.7,24.5,35.4,27.3,68.1,...,NaN,NaN,NaN,1994-01-03T07:47:11,1994-01-03T17:25:33,0.68,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47112099999,47120099999,4711009999..."
3,seoul,1994-01-04,38.8,22.1,30.1,32.0,18.4,26.3,13.6,51.2,...,NaN,NaN,NaN,1994-01-04T07:47:16,1994-01-04T17:26:23,0.72,Clear,Clear conditions throughout the day.,clear-day,"47111099999,47112099999,47120099999,4711009999..."
4,seoul,1994-01-05,40.0,24.0,33.1,40.0,18.5,31.0,21.7,63.9,...,NaN,NaN,NaN,1994-01-05T07:47:19,1994-01-05T17:27:14,0.75,"Snow, Rain, Overcast",Cloudy skies throughout the day with late afte...,rain,"47111099999,47112099999,47120099999,4711009999..."

In [4]:
df.tail()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
726,seoul,2023-12-28,4.1,-1.7,1.1,2.4,-3.4,0.0,-3.7,71.5,...,9.6,5.0,10.0,2023-12-28T07:45:50,2023-12-28T17:20:48,0.54,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,4711909999..."
727,seoul,2023-12-29,4.5,-1.4,1.5,3.0,-3.5,-0.1,-3.3,70.2,...,8.8,4.0,10.0,2023-12-29T07:46:08,2023-12-29T17:21:29,0.57,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,4711909999..."
728,seoul,2023-12-30,1.9,-0.9,0.5,-1.2,-3.5,-2.4,-1.0,90.1,...,1.8,1.0,10.0,2023-12-30T07:46:24,2023-12-30T17:22:12,0.60,"Snow, Rain, Partially cloudy",Partly cloudy throughout the day with rain or ...,snow,"47111099999,47098099999,47112099999,4711909999..."
729,seoul,2023-12-31,4.4,0.8,2.3,3.1,-1.8,0.4,1.5,94.7,...,4.5,4.0,10.0,2023-12-31T07:46:38,2023-12-31T17:22:57,0.63,"Snow, Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"47111099999,47098099999,47112099999,4711909999..."
730,seoul,2024-01-01,7.3,-0.2,3.0,6.6,-2.8,1.7,0.5,84.7,...,8.6,5.0,10.0,2024-01-01T07:46:50,2024-01-01T17:23:42,0.66,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"47111099999,47098099999,47112099999,4711909999..."

In [5]:
import dateutil.parser as dp

# 실제 1994-01-01 ~ 2024-01-01 까지의 일수 계산
first_day = dp.parse('1994-01-01')
last_day = dp.parse('2024-01-02')

diff_days = last_day - first_day

# 데이터셋의 개수와 일수 비교 확인
df['datetime'].count(), diff_days

(10958, datetime.timedelta(days=10958))

**diff_days**

Date 계산시 day1 - day2를 하는 경우 day2의 하루전 까지의 기간을 계산 합니다.
 
따라서 day2를 2024-01-02로 지정 합니다.

# 결측치 분석

In [6]:
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100

missing_data_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage': missing_percentage
})

missing_data_summary.round(2)

                  Missing Values  Percentage
name                           0        0.00
datetime                       0        0.00
tempmax                        0        0.00
tempmin                        0        0.00
temp                           0        0.00
feelslikemax                   0        0.00
feelslikemin                   0        0.00
feelslike                      0        0.00
dew                            0        0.00
humidity                       0        0.00
precip                         0        0.00
precipprob                     0        0.00
precipcover                    0        0.00
preciptype                  6913       63.09
snow                        2923       26.67
snowdepth                   2716       24.79
windgust                    7316       66.76
windspeed                      0        0.00
winddir                        0        0.00
sealevelpressure               0        0.00
cloudcover                     0        0.00
visibility                     0        0.00
solarradiation              5844       53.33
solarenergy                 5844       53.33
uvindex                     5844       53.33
severerisk                 10236       93.41
sunrise                        0        0.00
sunset                         0        0.00
moonphase                      0        0.00
conditions                     0        0.00
description                    0        0.00
icon                           0        0.00
stations                       0        0.00